<!DOCTYPE html>
<html>
<head>
  <title>PageNinja</title>
  <%= stylesheet_link_tag    "page-ninja/application", :media => "all" %>
  <%= javascript_include_tag "page-ninja/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
